body {
	background-image: url(back.jpg);
	background-size: 100% 200%;
	background-repeat:no-repeat; 
}
a {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
@keyframes zoom {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.1);
	}
}
@keyframes toright {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(15px);
	}
}
.logo {
	width: 80%;
	margin: 0 auto;
	margin-top: 50%;
	}
.logo img {
	width: 100%;
	animation-name: zoom;
	animation-duration:2s;
	animation-direction: alternate;
	animation-iteration-count: 999;
}
.menu {
	width: 100%;
	position: absolute;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	padding: 1rem;
}
.menu img {
	width:21%;
	display: inline;
}